.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a5acd, #483d8b);
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  background: #6a5acd;
  color: white;
  border: none;
  border-radius: 6px;
}