body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a5acd, #483d8b);
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #483d8b;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.input-group input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
}

.icon {
  color: #6a5acd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #6a5acd;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #483d8b;
}
