.profile-container {
  height: 100vh;
  background: linear-gradient(135deg, #6a5acd, #483d8b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.profile-card h2 {
  color: #483d8b;
}
